$color-primary: #00b6dc;
$color-black: #000;
$color-white: #fff;
$color-grey: #002841;
$color-yellow: #ffcd19;
$color-black-sec: #333333;
$color-grey-sec: #f3f3f3;
$color-grey-third: #f5f8fa;
$color-blue-first: #001927;
$color-blue-sec: #7b94a5;
$color-blue-third: #7b94a5;
$color-blue-button: #1297ae;
$color-green: #00bc26;
$color-red: #ff3139;
$margin-mobile: 40px;

