@font-face {
  font-family: 'Muli';
  font-weight: 900;
  src: local('Muli'), url('./assets/fonts/Muli-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 600;
  src: local('Muli'), url('./assets/fonts/Muli-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 700;
  src: local('Muli'), url('./assets/fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 400;
  src: local('Muli'), url('./assets/fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 300;
  src: local('Muli'), url('./assets/fonts/Muli-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 200;
  src: local('Muli'), url('./assets/fonts/Muli-ExtraLight.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: Muli, serif;
  position: relative;
  box-sizing: border-box;
}
